*, ::before, ::after{
    box-sizing: border-box;
}
body{
    margin:0;
    --animation-duration: 300ms;
    --nav-link-load-time: 500ms;
    --article-load-delay: calc(var(--animation-duration) + var(--nav-link-load-time));
}
header{
    margin: 0;
}
nav{
    
    /* --article-load-delay: calc(var(--animation-duration) + var(--nav-link-load-time)); */
    background-color: rgb(0, 61, 92);
    color:white;
    margin: 0;
    animation: nav-load var(--animation-duration) ease-in-out;  

}
@keyframes nav-load{
    0%{
      transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
nav ul{
    margin:0;
    list-style: none;
    display: flex;
    justify-content: center;   
}
nav ul li{
    padding: 1rem 1.5rem;
    transition:background-color 150ms ease-in;
    animation-name: nav-link-load;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-function);
    animation-delay: var(--nav-link-load-time);
    transform: scale(0);
    animation-fill-mode: forwards;
}
@keyframes nav-link-load{
    0%{
      transform: scale(0);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform:scale(1);
    }
}

nav ul li:first-child{
    animation-name: nav-first-link;
    transform:translateX(-1000%);

}
@keyframes nav-first-link {
    0%{
        transform:translateX(-1000%);
    }
    90%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

nav ul li:last-child{
    transform: translateX(1000%);
    animation-name: nav-last-link;

}
@keyframes nav-last-link {
    0%{
        transform:translateX(1000%);
    }
    90%{
        transform:translateX(50%);
    }
    100%{
        transform:translateX(0);
    }
}
nav ul li:hover{
    background-color:#ffffff44;
}
main{
    margin:2rem;
}

h2{
    animation: artical-load 300ms ease-in-out var(--article-load-delay);
    transform: translateY(-20);
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes artical-load {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

article p{
    animation: artical-load-p 300ms ease-in-out var(--article-load-delay);
    transform: translateY(-20);
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes artical-load-p {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

